# EDA Student Performance Indicator
## 1) Problem Statement
- This Project understands how the student's performance(Test Scores) is affected by other variables such as Gender, Ethnicity, Parental Level of Education, Lunch and Test Preparation Course.
## 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams
- The data consists of 8 columns and 1000 rows.
## 3) Dataset Information
- gender: sex of students -> (Male/Female)
- race/ethnicity: ethnicity of the students -> (Group A,B,C,D,E)
- parental level of education: parent's final education -> (bachelor's degree, some college, associate's degree, master's degree, high school)
- lunch: having lunch before test (standard or free/reduced)
- test preparation: complete or not complete before test
- math score
- reading score
- writing score

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the Dataset
df = pd.read_csv('exams.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group A,high school,free/reduced,none,56,63,60
1,female,group D,some college,standard,completed,71,83,84
2,male,group C,some high school,free/reduced,completed,76,76,68
3,female,group E,some high school,free/reduced,none,57,67,63
4,female,group C,bachelor's degree,free/reduced,none,48,58,61

In [3]:
df.shape

(1000, 8)

## Data Checks to Performance
- Check Missing Value
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of the dataset
- Check various categories present in different categorical columns

In [4]:
# Check missing values
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Insights
There are no missing values.

In [8]:
# Check Duplicates
df.duplicated().sum()

0

There are no duplicate values.

In [9]:
# Check Data Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
# Check unique values of each column
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     76
reading score                  70
writing score                  75
dtype: int64

In [11]:
# Check the statistics of the dataset
df.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.582000      70.265000      68.963000
std      14.735889      13.943428      14.657369
min      14.000000      23.000000      15.000000
25%      58.000000      61.000000      60.000000
50%      67.000000      71.000000      69.000000
75%      78.000000      80.000000      79.000000
max     100.000000     100.000000     100.000000

## Insights
- From the above description of the data, all means are very close to each other - between 66 and 69
- All the standard deviation are close - between 14.6 - 15.9
- While there is minimum of 0 for maths, others are having 17 and 10 value
- There is maximum score of 100 for the three.

In [12]:
# Explore more info about the data
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group A,high school,free/reduced,none,56,63,60
1,female,group D,some college,standard,completed,71,83,84
2,male,group C,some high school,free/reduced,completed,76,76,68
3,female,group E,some high school,free/reduced,none,57,67,63
4,female,group C,bachelor's degree,free/reduced,none,48,58,61